[submodule "src/ext-mod/inspector.js"]
	path = src/ext-mod/inspector.js
	url = https://github.com/emliri/inspector.js.git
[submodule "src/ext-mod/mux.js"]
	path = src/ext-mod/mux.js
	url = https://github.com/emliri/mux.js.git
